#### The raw data very likely to include some missing values. We can't feed the data to ML algorithms becasuse it will give us an error. 
#### Thus, we need to find a way to deal with missing values.

#### Dropping the columns if it includes 'NAN' values

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Read the data
X_full = pd.read_csv('train.csv', index_col='Id')
X_test_full = pd.read_csv('test.csv', index_col='Id')

# Remove rows with missing target, separate target from predictors
X_full.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X_full.SalePrice
X_full.drop(['SalePrice'], axis=1, inplace=True)

# To keep things simple, we'll use only numerical predictors
X = X_full.select_dtypes(exclude=['object'])
X_test = X_test_full.select_dtypes(exclude=['object'])

# Break off validation set from training data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                      random_state=0)

In [22]:
X_train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
Id,,,,,,,,,,,,,,,,,,,,,
619,20,90.0,11694,9,5,2007,2007,452.0,48,0,...,774,0,108,0,0,260,0,0,7,2007
871,20,60.0,6600,5,5,1962,1962,0.0,0,0,...,308,0,0,0,0,0,0,0,8,2009
93,30,80.0,13360,5,7,1921,2006,0.0,713,0,...,432,0,0,44,0,0,0,0,8,2009
818,20,NaN,13265,8,5,2002,2002,148.0,1218,0,...,857,150,59,0,0,0,0,0,7,2008
303,20,118.0,13704,7,5,2001,2002,150.0,0,0,...,843,468,81,0,0,0,0,0,1,2006

In [23]:
## Let's find out which column has a missing values

In [24]:
X_train.shape

(1168, 36)

In [25]:
missing_values_byColumn = X_train.isnull().sum()
print(missing_values_byColumn[missing_values_byColumn>0])

LotFrontage    212
MasVnrArea       6
GarageYrBlt     58
dtype: int64

In [26]:
# Fill in the line below: How many columns in the training data
# have missing values? 

num_cols_with_missing = X_train.isnull().any().sum()
num_cols_with_missing

3

In [33]:
# Fill in the line below: How many missing entries are contained in 
# all of the training data?

tot_missing =  X_train.isnull().sum()
total = 0

for i in tot_missing:
    if i!=0:
        total += i


print('Total number of missing values are' , total)

Total number of missing values are 276

In [35]:
## Get the name of columns that includes a missing values

In [39]:
col_name= [col for col in X_train.columns if X_train[col].isnull().any()]

col_name

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

## First approach is to drop the NaN values

In [44]:
#Using the drop function, we can drop the columns which includes a missing value
reduced_X_train = X_train.drop(col_name, 1)
reduced_X_valid = X_valid.drop(col_name, 1)

## Test the effects of dropping values on RandomForestRegressor

In [46]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [47]:
print("MAE (Drop columns with missing values):")
print(score_dataset(reduced_X_train, reduced_X_valid, y_train, y_valid))

MAE (Drop columns with missing values):
17837.82570776256

## Second approach is to use Simple Impute to impute missing values

In [58]:
from sklearn.impute import SimpleImputer

in_mean = SimpleImputer(strategy='mean')


imputed_X_train = pd.DataFrame(in_mean.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(in_mean.transform(X_valid))

imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

imputed_X_train.columns

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold'],
      dtype='object')

## Test the effects of dropping values on RandomForestRegressor

In [59]:
print("MAE (Imputation):")
print(score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid))

MAE (Imputation):
18062.894611872147

## Third approach is to use Simple Impute (MEDIAN) to impute missing values

In [61]:
# Fill in the lines below: imputation
im_mean = SimpleImputer(strategy='median')

imputed_X_train = pd.DataFrame(im_mean.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(im_mean.transform(X_valid))



# Fill in the lines below: imputation removed column names; put them back
imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

## Test the effects of dropping values on RandomForestRegressor

In [65]:
print("MAE (Imputation):")
print(score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid))

MAE (Imputation):
17791.59899543379

#### Now, as we can see, this approach is probabilistic. There is not any determined solution to this issue. In our case
#### we found out that replacing the missing values with the median of corresponding column yields better solution